<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>KCCMurukmuruk.otf</string>
		<string>Cafe24Ohsquareair.ttf</string>
		<string>Cafe24Oneprettynight.ttf</string>
		<string>Cafe24Simplehae.ttf</string>
		<string>Cafe24Ssukssuk.ttf</string>
		<string>Cafe24Shiningstar.ttf</string>
		<string>Cafe24SsurroundAir.ttf</string>
		<string>Cafe24Dongdong.ttf</string>
		<string>Cafe24Syongsyong.ttf</string>
		<string>Cafe24Danjunghae.ttf</string>
	</array>
</dict>
</plist>
